.drag-area {
  width: 100%;
  height: 160px;
  border-radius: 5px;
  border: 2px dashed #d5d5e1;
  color: #c8c9dd;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
  background: #dfe3f259;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 10px;
}

.drag-area .visible {
  font-size: 18px;
}
.select {
  color: #5256ad;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.select:hover {
  opacity: 0.6;
}

.container_p {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Columnas autoajustables con un mínimo de 150px */
	grid-gap: 15px; /* Espacio entre las imágenes */
	max-height: 200px;
	overflow-y: auto; /* Agregar desplazamiento vertical si el contenido excede la altura máxima */
	margin-top: 10px;
  }
  
  .container_p .image {
	position: relative;
  }
  
  .container_p .image img {
	width: 50%;
	height: 100%;
	border-radius: 5px;
	object-fit: contain;
  }
  
  .container_p .image .delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 20px;
	color: red;
	cursor: pointer;

  }
  

/* dragover class will used in drag and drop system */
.drag-area.dragover {
  background: rgba(0, 0, 0, 0.4);
}

.drag-area.dragover .on-drop {
  display: inline;
  font-size: 28px;
}

/*  input,
 .drag-area .on-drop, 
 .drag-area.dragover .visible {
	display: none;
} */
